<div class="bg-gray-100 dark:bg-zinc-800 py-8 border-t border-gray-200 dark:border-zinc-700 mt-6 print:hidden">
    <p class="max-w-screen-lg mx-auto text-center">Website made with ❤️ by jumscrafteur</p>
</div>