<li class="flex items-center gap-4">
    <span class="w-8 h-8 inline-block print:hidden"></span>
    <div class="bg-gray-100 dark:bg-zinc-800 print:bg-transparent p-4 print:p-0 rounded border-2 print:border-0 border-dashed dark:border-zinc-700 flex flex-col gap-2">
        <slot/>
    </div>
</li>