---
import SkillCol from "./skill-col.astro";
---
<div class="grid grid-cols-1 sm:grid-cols-2 print:grid-cols-1 gap-4 mt-4 print:mt-0 w-full">
    <SkillCol>
        <slot name="left"/>
    </SkillCol>
    <SkillCol>
        <slot name="right"/>
    </SkillCol>

</div>